<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <form action="/addImage", method="POST" enctype="multipart/form-data">
      <label for="image">Image</label>
      <input type="file" name="image" accept="image/*" required>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit">Post Image</button>
    </form>
  </main>

<%- include('../includes/end.ejs') %>